#others
github.com
code.google.com
.idea/
*.iml
*.exe
*.a
.project

#laravel
/vendor
/node_modules
Homestead.yaml
Homestead.json
.env

dbtest.php
opencart/
timecart/config.php
timecart/admin/config.php
timecart/**/cache/*

blog/config.inc.php
